<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Borad</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Message Board </h1>

    <form action="/" method="post">
        <input type="text" name="message" placeholder="your message"  required>
        <button type="submit">Add</button>
    </form>

    <h2>Message:</h2>

    <ul class="messages">
        {{range $i, $m:= .Message}}
        <li class="message">{{ $m}}
            <form action="/delete" method="post" style="display: inline-block; margin-bottom: 10px;">
                <input type="hidden" name="delete" value="{{ $i }}">
                <button type="submit">Delete</button>
                </form>
        </li>
       
        {{else}}
        <li class="message">No message yet</li>
        {{end}}
    </ul>
</body>
</html>